.order-history-container {
  .pagination {
    margin-top: 5%;
  }
  .order-history-select{
      display: flex;
      align-items: center;
  }
  .orders-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1%;
    row-gap: 5%;
    .order-history-warp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
