.sidebar {
  min-height: 100%;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    img {
      width: 30px;
    }
    h1 {
      margin-left: 10px;
      color: white;
    }
  }
}
